{{#if comments.length}}
    {{#each comments}}
    <div class="comment">
        <p>{{commentText}}</p>
    </div>
    {{/each}}
{{else}}
    <img src="/icons/comments.png" alt="comment-icon" class="empty-icon">
    <p>No comments available.</p>
{{/if}}
