* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDAC8;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-panel {
    flex: 0.4;
    background: #DFDAC8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 100px;
}

.middle-panel {
    flex: 1;
    background: #DFDAC8;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #292623;
    border-top: 0px;
}

.right-panel {
    flex: 0.4;
    background: #DFDAC8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 100px;
}

.menu-icons {
    margin: 20px;
    width: 100%;
}

.menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 100px;
    background-color: #DFDAC8;
    color: #292623;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-item:hover {
    background-color: rgba(12, 95, 179, 0.2); 
    color: #292623; 
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.menu-text {
    font-size: 20px;
    font-weight: bold;
}

.btn-post {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
    background-color: #0C5FB3;
    font-size: 20px;
    color: ghostwhite;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
}

.btn-post:hover {
    background: linear-gradient(135deg, #764aa6, #B04898);
    transform: scale(1.05);
}

.btn-post:active {
    transform: scale(1);
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #0C5FB3;
    border-radius: 30px 0 0 30px; 
    font-size: 12px; 
    outline: none;
}

.search-form button {
    background-color: #0C5FB3;
    border: none;
    padding: 10px;
    border-radius: 0 30px 30px 0; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #074a8d;
}

.search-form img {
    width: 16px;
    height: 16px;
    filter: invert(1);
}

.top-menu {
    display: flex;
    align-items: center;
    background-color: #DFDAC8;
    padding: 10px;
    position: relative;
    border-bottom: 0.5px solid #292623;
    border-top: 0.5px solid #292623;
    margin-top: 30px;
}

.top-menu button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}     

.top-menu button:hover {
    background-color: rgba(12, 95, 179, 0.2); 
    border-radius: 100%;
}

.top-menu button img {
    width: 20px;
    height: 20px;
}

.top-menu span {
    font-size: 14px;
    color: black;
}

.header-profile {
    position: relative;
    width: 100%;
    height: 160px;
    background-color: gray;
    border-bottom: 4px solid ghostwhite;
}

.header-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.pfp {
    position: absolute;
    bottom: -50px;
    left: 30px; 
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    border: 4px solid ghostwhite;
    overflow: hidden; 
    background-color: #DFDAC8; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.pfp img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.user-info {
    background-color: #DFDAC8;
}

.edit-prof-btn {
    display: flex;
    justify-content: flex-end;
}

.edit-btn {
    margin: 15px;
    background-color: #292623; 
    color: ghostwhite; 
    border: 1px solid #292623; 
    padding: 6px 12px;
    border-radius: 100px; 
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.1s ease;
    margin-left: 525px;
}

.edit-btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #292623;
}

.basic-info h3{
    color: #292623;
    margin-left: 25px;
    margin-top: 3px;
}

.basic-info p {
    color: #292623;
    margin-left: 25px;
    margin-top: 3px;
    font-size: 12px;
    opacity: 0.6;
}