* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDAC8;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.left-panel {
    flex: 0.4;
    background: #DFDAC8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 100px;
}

.middle-panel {
    flex: 1;
    background: #DFDAC8;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border: 0.1px solid #0C5FB3;
    align-items: center;
}

.right-panel {
    flex: 0.4;
    background: #DFDAC8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 100px;
}

.menu-icons {
    margin: 20px;
    width: 100%;
}

.menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 100px;
    background-color: #DFDAC8;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-item:hover {
    background-color: rgba(12, 95, 179, 0.2); 
    color: #000; 
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.menu-text {
    font-size: 20px;
    font-weight: bold;
}

.btn-post {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
    background-color: #0C5FB3;
    color: white;
    font-size: 20px;
    color: ghostwhite;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
}

.btn-post:hover {
    background: linear-gradient(135deg, #764aa6, #B04898);
    transform: scale(1.05);
}

.btn-post:active {
    transform: scale(1);
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #0C5FB3;
    border-radius: 30px 0 0 30px; 
    font-size: 12px; 
    outline: none;
}

.search-form button {
    background-color: #0C5FB3;
    border: none;
    padding: 10px;
    border-radius: 0 30px 30px 0; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #074a8d;
}

.search-form img {
    width: 16px;
    height: 16px;
    filter: invert(1);
}

.top-menu {
    display: flex;
    align-items: center;
    background-color: #DFDAC8;
    padding: 10px;
}

.top-menu button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-menu span {
    margin-left: 10px;
    font-size: 18px;
    font-weight: bold;
}


.header-profile {
    background: linear-gradient(135deg, #0C5FB3, #DFDAC8);
    
}