<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_folder/about.css">
    <title>ByaHero!</title>
</head>
<body>
    <div class="container">
        <div id="left-panel">
            {{> navBar}}
        </div>

        <div class="middle-panel">
            content lmao
        </div>

        <div id="right-panel">
            {{> searchPanel}}
        </div>
    </div>
</body>
</html>
