<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles_folder/create_style.css">
        <title>Create Post</title>
    </head>
    <body>
        <div class="container">
            <div id="left-panel">
                {{> navBar}}
            </div>

            <div class="middle-panel">
                <div class="top-menu">
                    <button type="button" class="return-btn">
                        <img src="/icons/left_arrow.png" alt="return-btn">
                    </button>
                    <span>Return</span>
                </div>
                <h2>Create a Post!</h2>
                
                <div class="create-post-container">
                    <div class="post-title-container">
                        <textarea class="post-title-text-area" placeholder="Post Title"></textarea>
                        <div class="char-count">
                            0/200
                        </div>
                    </div>
                    <div class="tags-btn-container">
                        <label for="tags">Tags: </label>
                        <select class="tag-options" name="tags" id="tags">
                            <option value="commute">Commute</option>
                            <option value="price">Price</option>
                            <option value="route">Route</option>
                            <option value="location">Location</option>
                            <option value="weather">Weather</option>
                        </select>
                    </div>
                    <div class="body-post-container">
                        <div class="body-container">
                            <div class="body-icons">
                                <div class="body-options-container">
                                    <a href="#" class="body-item" onclick="">
                                        <img src="/icons/bold.png" alt="bold-btn" class="icon-body">
                                    </a>
                                    <a href="#" class="body-item" onclick="">
                                        <img src="/icons/italics.png" alt="italics-btn" class="icon-body">
                                    </a>
                                    <a href="#" class="body-item" onclick="">
                                        <img src="/icons/underline.png" alt="underline-btn" class="icon-body">
                                    </a>
                                    <a href="#" class="body-item" onclick="">
                                        <img src="/icons/strikethrough.png" alt="strike-btn" class="icon-body">
                                    </a>
                                    <a href="#" class="body-item" onclick="">
                                        <img src="/icons/superscript.png" alt="superscript-btn" class="icon-body">
                                    </a>
                                    <a href="#" class="body-item" onclick="">
                                        <img src="/icons/link.png" alt="link-btn" class="icon-body">
                                    </a>
                                    <a href="#" class="body-item" onclick="">
                                        <img src="/icons/bullets.png" alt="bullets-btn" class="icon-body">
                                    </a>
                                    <a href="#" class="body-item" onclick="">
                                        <img src="/icons/list.png" alt="list-btn" class="icon-body">
                                    </a>
                                </div>
                            </div>
                            <div class="body-text-container">
                                <textarea class="body-text-area" placeholder="Body"></textarea>
                            </div>
                            <div class="create-post-btns">
                                <a href="#" class="drafts-btn" onclick="">Drafts</a>
                                <button type="button" class="save-draft-btn">Save as draft</button>
                                <button type="button" class="post-btn">Post</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="right-panel">
                {{> searchPanel}}
            </div>
        </div>
        <script>
            document.querySelector('.return-btn').addEventListener('click', function() {
                window.history.back(); // This goes back to the last page in the browser's history
            });
        </script>
    </body>
</html>