<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BYAHERO - Landing Page</title>
    <link rel="stylesheet" href="/styles_folder/DESwelcome.css">
</head>
<body>
    <div class="container">
        <div class="keyboard-and-button">
        <div class="keyboard">
            <span class="key">B</span>
            <span class="key">Y</span>
            <span class="key">A</span>
            <span class="key">H</span>
            <span class="key">E</span>
            <span class="key">R</span>
            <span class="key">🛞</span>
            <span class="key">!</span>
        </div>
        <button class="begin">Let's Begin</button>
    </div>

    <div class="gif-container">
        <img src="/images/gif byahero logo (1).gif" alt="Logo GIF" class ="gif-image">
    </div>
    <div class="content-container">
    </div>
    <script>
        document.querySelector('.begin').addEventListener('click', function() {
            window.location.href = '/register';
        });
    </script>    
</body>
</html>