* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDAC8;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.middle-panel {
    flex: 1;
    background: #DFDAC8;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #292623;
    border-top: 0px;
}

.middle-panel h2 {
    margin-left: 29px;
    margin-top: 30px;
    width: 70%;
}

.top-menu {
    display: flex;
    align-items: center;
    background-color: #DFDAC8;
    padding: 10px;
    position: relative;
    margin-top: 10px;
}

.top-menu button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}     

.top-menu button:hover {
    background-color: rgba(12, 95, 179, 0.2); 
    border-radius: 100%;
}

.top-menu button img {
    width: 20px;
    height: 20px;
}

.top-menu span {
    font-size: 14px;
    color: black;
}

.report-container {
    width: calc(100% - 42px);
    border: 0.5px solid #292623;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}

.report-title {
    padding: 10px;
    margin-bottom: 20px;
}

.report-choices label {
    padding: 10px;
    font-weight: bold;
}

.report-choices p {
    padding-left: 28px;
    opacity: 0.4;
    font-size: smaller;
    margin-bottom: 20px;
}

.confirm-btn-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

.report-btn {
    text-align: right;
    align-items: right;
}

.report-btn {
    background-color: #0C5FB3; /* Nice blue color */
    color: ghostwhite;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}