* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDAC8;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.middle-panel {
    flex: 1;
    background: #DFDAC8;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border: 0.5px solid #292623;
    border-top: 0px;
}

.middle-panel h2 {
    margin-left: 29px;
    margin-top: 30px;
    width: 70%;
}

.post-title-container {
    margin: 30px;
}

.post-title-text-area {
    width: 100%;
    height: 50px;
    border: 1px solid #292623;
    background: #DFDAC8;
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
    resize: none;
    outline: none;
}

.char-count {
    color: #292623;
    text-align: right;
    margin-right: 15px;
    font-size: 12px;
}

.tags-btn-container {
    margin-left: 29px;
}

.tags-btn-container label {
    font-weight: bold;

}

.tag-options {
    background-color: #292623;
    color: ghostwhite;
    border: none;
    border-radius: 25px;
    padding: 5px;
}

.tag-options:focus {
    outline: none;
}

.body-post-container {
    margin: 30px;
    margin-top: 10px;
}

.body-container {
    width: 100%;
    height: 210px;
    border: 1px solid #292623;
    background: #DFDAC8;
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
    resize: none;
    outline: none;
}

.body-text-area {
    margin-top: 0px;
    width: 100%;
    height: 130px;
    border: none;
    background-color: #DFDAC8;
    padding: 10px;
    resize: none;
    outline: none;
}

.create-post-btns {
    text-align: right;
    align-items: right;
    margin-top: 40px;
}

.post-btn {
    font-weight: bold;
    margin-right: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #0C5FB3;
    color: ghostwhite;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.save-draft-btn {
    font-weight: bold;
    margin-right: 10px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    background-color: #0C5FB3;
    color: ghostwhite;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

.drafts-btn {
    margin-right: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    color: #0C5FB3;
    border-radius: 15px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

.create-post-btns button:hover {
    background-color: #197cdf;
}

.drafts-btn:hover {
    color: #197cdf;
}

.icon {
    padding: 5px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.body-item {
    height: 20px;
    width: 20px;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 25px;
    color: #292623;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.body-icons {
    margin: 5px;
    width: 100%;
}

