body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1300px;
}

.left-panel {
    margin-top: 30px;
    flex: 0.3;
    background: #DFDAC8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    margin-left: 60px;
    margin-right: 20px;
}

.menu-icons {
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    margin-left: 20px;
    width: 130px;
    height: 80px;
    cursor: pointer;
}

.menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 100px;
    background-color: #DFDAC8;
    color: #292623;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    margin-bottom: 10px;
}

.menu-item:hover {
    background-color: rgba(12, 95, 179, 0.2); 
    color: #292623; 
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.menu-text {
    font-size: 20px;
    font-weight: bold;
}

.btn-post {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
    background-color: #0C5FB3;
    font-size: 20px;
    color: ghostwhite;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s, transform 0.2s;
}

.btn-post:hover {
    background: linear-gradient(135deg, #764aa6, #B04898);
    transform: scale(1.05);
}

.btn-post:active {
    transform: scale(1);
}

.logout {
    width: 100%;
    padding: 4px 15px;
    border: 1px solid #8E1600;
    border-radius: 100px;
    background-color: #DFDAC8;
    font-size: 14px;
    color: #8E1600;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 800px) {
    .left-panel {
        flex: none;
        width: 60px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-left: 20px;
    }

    .menu-item {
        justify-content: center;
        flex-direction: column;        
        align-items: center;
    }

    .menu-item:hover {
        background-color: unset; /* Remove hover background change */
        color: unset; /* Remove hover color change */
        transform: none; /* Remove scaling effect */ 
    }

    .menu-text {
        display: none;
    }

    .logo img {
        width: 50px; /* Shrink the logo */
        height: auto;
        margin-left: 0;
    }

    .btn-post span {
        display: none; /* Hide original text */
    }

    .btn-post {
        width: 50px; /* Adjust width to fit the + sign */
        height: 50px;
        font-size: 30px; /* Make the plus sign larger */
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .btn-post::before {
        content: "+"; /* Show only the plus sign */
        font-size: 25px;
        font-weight: 200;
    }

    .logout span {
        display: none;
    }

    .logout {
        width: 50px; /* Adjust width to fit the + sign */
        height: 50px;
        font-size: 30px; /* Make the plus sign larger */
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .logout::before {
        content: "x"; /* Show only the plus sign */
        font-size: 25px;
        font-weight: 200;
    }
}
