* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DFDAC8;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden ;
}

.middle-panel {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    background: #DFDAC8;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0.5px solid #292623;
    border-top: 0px;
}

.top-menu {
    display: flex;
    align-items: center;
    background-color: #DFDAC8;
    padding: 10px;
    position: relative;
    margin-top: 10px;
}

.top-menu button {
    background-color: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}     

.top-menu button:hover {
    background-color: rgba(12, 95, 179, 0.2); 
    border-radius: 100%;
}

.top-menu button img {
    width: 20px;
    height: 20px;
}

.top-menu span {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.post_avatar img {
    border-radius: 50%;
    height: 40px;
}

.post {
    display: flex;
    padding-left: 10px;
    align-items: flex-start;
    padding-top: 10px;
    border-bottom: 0.5px solid;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
}

.post-image {
    width: 600px;
    object-fit: contain;
    border-radius: 20px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.vote-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}

.post-item-container {
    display: flex;
    align-items: center;
    gap: 30px; 
    margin-left: auto;
    margin-right: 20px;
}

.post-actions span {
    font-weight: bold;
    color: #0C5FB3;
    font-size: 16px;
}

.post_body{
    flex: 1;
    padding: 10px;
}

.post_headerText {
    margin-bottom: 5px;
    display: flex;
    align-items: center; 
    gap: 8px;
}

.post_headerText h3 {
    font-size: 14px;
}

.post-username {
    font-size: 10px;
    color: gray;
}

.post-duration {
    font-size: 10px;
    color: gray;
    text-align: right;
}

.post_headerDescription {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 16px;
}

.post_headerDescription h2 {
    margin-bottom: 10px;
}

.post_headerDescription p {
    opacity: 0.6;
}

.vote-btn img {
    height: 20px;
    width: 20px;
}

.post-item img {
    height: 25px;
    width: 25px;
}

.comment-section-container {
    padding: 20px;
    height: 100%; 
    width: 100%;   
    padding: 30px;
    background-color: #DFDAC8;
}

.add-comment-section {
    width: 100%;
    display: flex;
}

textarea {
    width: 100%;
    height: 36px;
    padding: 10px;
    border: 1px solid #dfdac8;
    border-radius: 40px;
    resize: none;
}

.add-comment-btn {
    padding: 8px 15px;
    background-color: #0079d3;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 25px;
}

.sort-section {
    margin-top: 20px;
}

.sort-options {
    background-color: #292623;
    color: ghostwhite;
    border: none;
    border-radius: 25px;
    padding: 5px;
}

.comments-section {
    height: 100%;
    overflow-y: auto;
    background-color: #dfdac8;
    padding: 10px;
    border-radius: 5px;
}

.comment {
    background-color: #dfdac8;
    border: 1.5px solid #c7b9b9;
    border-radius: 10px;
    margin-bottom: 20px;
}

.nested-comment{
    margin-left: 40px;
}

.user-comment {
    padding: 20px;
}

.user-comment strong {
    font-size: 18px;
}

.user-comment span {
    font-size: 12px;
    opacity: 0.5;
}

.main-comment {
    margin-left: 30px;
    font-size: smaller;
}

.comment-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-left: 10px;
    border: none;
    outline: none;
}

.vote-btn {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.vote-count {
    font-size: 14px;
    font-weight: bold;
}

.action-btn {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}
